*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ffffff;
  color: #1a1a1a;
}

header{
  width: 100%;
  padding: 25px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 26px;
  font-weight: 700;
}

nav a{
  margin: 0 18px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.cv-btn{
  background-color: #111;
  color:black;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 8%;
  gap: 50px;
}

.hero-left{
  width: 55%;
}

.hero-left h1{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-left p{
  line-height: 1.7;
  font-size: 17px;
  max-width: 600px;
  margin-bottom: 25px;
}

.location{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  font-size: 17px;
}

.status{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
  font-size: 17px;
}

.status span{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #00c853;
}

.social-icons a{
  margin-right: 15px;
  font-size: 22px;
  color: #222;
  transition: 0.2s;
}

.social-icons a:hover{
  opacity: 0.6;
}

.hero-right img{
  width: 320px;
  border-radius: 12px;
  box-shadow: 10px 10px 0px rgba(45, 50, 79, 0.15);
}

@media(max-width: 900px){
  .hero{
    flex-direction: column;
    text-align: center;
  }
  .hero-left{
    width: 100%;
  }
}






body {
  background: #f9fafb;
  color: #3b3b3b;
  line-height: 1.7;
}

.about {
  max-width: 1100px;
  margin: 60px auto;
  display: flex;
  gap: 60px;
  align-items: flex-start;
  padding: 0 20px;
}

.photo-wrapper {
  position: relative;
}
.profile-photo {
  width: 320px;
  border-radius: 12px;
  position: relative;
  z-index: 2;
  

}
.photo-shadow {
  width: 100px;
  height: 100px;
  background: #e6e6e6;
  border-radius: 12px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.about-content h2 {
  font-size: 28px;
  margin-bottom: 20px;
  
}

.about-content p {
  margin-bottom: 15px;
  font-size: 16px;
  text-align: justify;
  
}

.about-list {
  margin: 15px 0 25px;
  list-style: disc;
  padding-left: 20px;
  
}

.footer-text {
  font-weight: 600;
}

.skills {
  margin: 90px auto;
  max-width: 1100px;
  text-align: center;
  padding: 0 20px;
}

.skills-title {
  font-size: 16px;
  background: #e7eaef;
  padding: 6px 18px;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 12px;
}

.skills-subtitle {
  font-size: 20px;
  margin-bottom: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 35px;
  margin-top: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skill img {
  width: 48px;
  height: 48px;
}

.skill span {
  font-size: 15px;
  font-weight: 500;
}
@media (max-width: 900px) {
  .about {
    flex-direction: column;
    text-align: center;
  }
  .photo-shadow {
    margin: auto;
  }
}






.experience {
  max-width: 1100px;
  margin: 70px auto;
  padding: 0 20px;
  text-align: center;
}

.exp-title {
  font-size: 16px;
  background: #e7eaef;
  padding: 6px 20px;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.exp-subtitle {
  font-size: 20px;
  margin-bottom: 40px;
  color: #4b4b4b;
}

.exp-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 35px;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
}

.exp-left {
  text-align: left;
  flex: 1;
}

.company-logo {
  width: 90px;
  margin-bottom: 12px;
}

.role {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 600;
}

.exp-left ul {
  margin-top: 8px;
  line-height: 1.7;
  padding-left: 18px;
}

.exp-right {
  white-space: nowrap;
  font-weight: 600;
  font-size: 15px;
  color: #3c3c3c;
  padding-top: 5px;
}

/* Responsive */
@media (max-width: 900px) {
  .exp-card {
    flex-direction: column;
    text-align: left;
  }
  .exp-right {
    align-self: flex-start;
  }
}

