*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#navbar {
    text-align: right;
    padding: 20px;
    margin-right:60px;
}
a {
    padding:40px;
}
#cv {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    
}
#my {
    margin:40px;
    width: 500px;
}

#content {
    margin-top:20px;
    font-size: 20px;
    line-height: 1.6;
    height:100px;
    width: 600px;
}

#location {
    margin-top:180px;
}

#status {
    margin-top:20px;
}

#status span{
    width:10px;
    height:100px;
    background-color: green;
    border-radius: 50%;
}
.social-icons a{
margin-top:10px;
padding-left:5px;
  font-size: 22px;
  color: #222;
  transition: 0.2s;
}
#box1{
    height:200px;
    width:350px;
    background-image: url("image.png");
    background-size: cover;
    border-radius: 10px;
    margin-left:1000px;
    margin-top: -400px;
}
#box2{
    height:300px;
    width:350px;
    margin-top: 300px;
    margin-left: 200px;
    background-image: url("image.png");
    background-size: cover; 
}

#box3 {
    height:600px;
    width:600px;
    margin-left: 700px;
    margin-top: -400px;
}
#box3 p{
    font-size: 20px;
    margin-top: 25px;
}

.about-list{
    margin-top: 10px;
    font-size: 16px;
}

#box4 {
    height:50px;
    width: 100px;
    margin-left: 700px;
    background-color: lightgrey;
    border-radius: 10px;
}
#box4 h3{

    text-align: center;
    font-size: 20px;
    margin-top:10px;
}   
#box5 {
    margin-top: 20px;
    margin-left: 550px;
    height:50px;
    width:500px;
    font-size: 18px;
    font-style: bold;
}
#tech-container   { display: inline-block;
    margin-bottom: 20px;
    font-weight: 600;
    }
#tech-container {
    height:400px;
    width:1200px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 40px;
    text-align: center;
}

#tech-item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
}

#tech-item p {
  font-size: 16px;
  color: #444;
}
#exp {
    height:50px;
    width: 100px;
    border :2px solid;
    margin-left: 700px;
    background-color: lightgrey;
    border-radius: 10px;
}
#exp h3{
    font-size: 20px;
    margin-top:10px;
}
#line {
    margin-top: 30px;
    margin-left: 550px;
    height:50px;
    width:500px;
    font-size: 18px;
    font-style: bold;
}

#cont{
    height:500px;
    width:1000px;
    margin-left: 250px;
}
#cont img{
     width: 100px;
     height: 100px;
     object-fit: contain;
     margin-top: 10px;
     margin-left:20px;
}
#cont h3{
    margin-left:20px;
    font-size: 20px;
}
#cont p{
    margin-left: 50px;
    margin:20px;
}
#cont2{
    height:500px;
    width:1000px;
    margin-left: 250px;
    margin-top:100px;
}
#cont2 img{
     width: 100px;
     height: 100px;
     object-fit: contain;
     margin-top: 10px;
     margin-left:20px;
}
#cont2 h3{
    margin-left:20px;
    font-size: 20px;
}
#cont2 p{
    margin-left: 50px;
    margin:20px;
}
#cont3{
    height:500px;
    width:1000px;
    border:2px solid;
    margin-left: 250px;
    margin-top:100px;
}
#cont3 img{
     width: 100px;
  height: 100px;
  object-fit: contain;
  margin-top: 10px;
  margin-left:20px;
}
#cont3 h3{
    margin-left:20px;
    font-size: 20px;
}
#cont3 p{
    margin-left: 50px;
    margin:20px;
}
#work {
    height:50px;
    width: 100px;
    border :2px solid;
    margin-left: 700px;
    background-color: lightgrey;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
}
#work h3{
    font-size: 20px;
    margin-top:10px;
}
#ted {
    margin-top: 30px;
    margin-left: 600px;
    height:50px;
    width:500px;
    font-size: 18px;
    font-style: bold;
}
#img{
    height:300px;
    width:450px;
    border:2px solid;
    background-image: url("image.png");
    background-size: cover;
    border-radius: 10px;
    margin-left:100px;
    margin-top: 10px;
}
#fit{
    margin-left:600px;
    margin-top: -250px;
}
#fit p{
    font-size: 18px;
    width: 500px;
    line-height: 1.6;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 600px;
  width: 500px;
}
.tags span {
  padding: 5px 14px;
  background: #f0f0f5;
  border-radius: 16px;
  font-size: 13px;
  color: #333;
  border: 1px solid #ddd;
}
#footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
#footer p{
    font-size: 16px;
    color: #666;
    margin-left:30px;
    background-color: lightgrey;
    background-image: url("tail.png");
    background-position-y: 80px;

}  
#hard {
    margin-left: 600px;
    width:500px;
    margin-top: 50px;
} 
#photo {
    margin-left: 600px;
    margin-top: 40px;
    background-color: lightgrey;
    height:250px;
    width:250px;

}
#node {
    width:1400px;
    font-size: 30px;
    margin-top:50px;
}
#utr {
    font-size: 60px;
    margin-left: 500px;
    margin-top: 20px;
}
