*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar {
    text-align: right;
    padding: 30px;
    margin-right:20px;
    background-color: grey;
}
#hom {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    margin-left: 500px;
    
}
a{
    padding:10px;
}
#burger img{
    width: 40px;
    height:40px;
    margin-right:20px;
    object-fit: cover;
}
