*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ffffff;
  color: #1a1a1a;
}

header{
  width: 100%;
  padding: 25px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 26px;
  font-weight: 700;
}

nav a{
  margin: 0 18px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.cv-btn{
  background-color: #111;
  color:black;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 8%;
  gap: 50px;
}

.hero-left{
  width: 55%;
}

.hero-left h1{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-left p{
  line-height: 1.7;
  font-size: 17px;
  max-width: 600px;
  margin-bottom: 25px;
}

.location{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  font-size: 17px;
}

.status{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
  font-size: 17px;
}

.status span{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #00c853;
}

.social-icons a{
  margin-right: 15px;
  font-size: 22px;
  color: #222;
  transition: 0.2s;
}

.social-icons a:hover{
  opacity: 0.6;
}

.hero-right img{
  width: 320px;
  border-radius: 12px;
  box-shadow: 10px 10px 0px rgba(45, 50, 79, 0.15);
}

@media(max-width: 900px){
  .hero{
    flex-direction: column;
    text-align: center;
  }
  .hero-left{
    width: 100%;
  }
}
